body {
  background: url(/TimerParth2/img/connor-wells-534089-unsplash.webp);
}
.timer {
  text-align: center;
  height: 130px;
  width: 100%;
  background: rgba(196, 196, 196, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/*       текст под цифрами дни часы мин сек       */
.days,
.hours,
.minutes,
.seconds {
  font-size: 55px;
  font-family: DS-Digital;
  font-weight: 600;
  margin: 0 auto;
  color: red;
}

/*         цифры таймера          */
.uncorrectDays,
.uncorrectHours,
.uncorrectMinutes,
.uncorrectSeconds {
  font-size: 18px;
  font-family: "Rubik Distressed", cursive;
}

/*      блоки хранящие цифры      */
.days-block,
.hours-block,
.minutes-block,
.seconds-block {
  background: url(/TimerParth2/img/connor-wells-534089-unsplash.webp) white;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
}

.timer-section {
  display: inline-block;
}

.timer-text {
  display: block;
  font-size: 12px;
}
